.navbar{
      display: flex;
      justify-content: space-between;
      padding: 15px 20rem;
      align-items: center;
      background: var(--header-back);
}
.nav-link{
      display: flex;
      gap: 2.5rem;
}
.nav-link li{
      font-size: 17px;
      font-weight: bold;
      
}
.nav-link li a{
      color: var(--bg-blue);
      transition: 0.3s ease all;
}
.nav-link li a:hover{
      color: var(--button);
      transition: 0.3s ease all;
}
.chat{
      padding: 15px 40px;
      border: none;
      outline: none;
      border-radius: 4px;
      background: var(--bg-blue);

      transition: all 0.3s ease;
      cursor: pointer;
      transition: 0.3s ease all;

}
.chat:hover{
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      transition: 0.3s ease all;
}
.chat a{
      color: aliceblue;
      font-size: 17px;
      font-family: 'poppins';
}

/* About button */
.btn-ab{
      padding: 12px 20px;
      background: var(--bg-blue);
      border: none;
      border-radius: 6px;
      color: white;
      font-weight: 15px;
      font-family: 'poppins';}

.footer-main{
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      height: 50vh;
      background:rgb(227,237,247);
      display:flex ;
}
.footer{
    
      text-align: center;
      padding: 90px  20rem;
      padding-bottom: 0px;
      width: 100%;
}
